<div class="d-flex flex-column flex-root">
  <h1>¡Buen día <b>Clara</b>!</h1>
  <h2>Tu día viene tranquilo ¡Recordá que hoy tenés RPM!</h2>

  <!--begin::Chart timeline-->
  <div class="row gy-12 g-xl-12">
    <!--begin::Col-->
    <div class="col-xl-12 mb-xl-12">
      <!--begin::Timeline Widget 1-->
      <div class="card card-flush h-xl-100">
        <!--begin::Card header-->
        <div class="card-header pt-5">
          <!--begin::Card title-->
          <h3 class="card-title align-items-start flex-column">
            <!--begin::Info-->
            <div class="d-flex flex-wrap mb-6 mt-8">
              <!--begin::Item-->
              <div class="me-9 my-1">
                <span class="fw-bolder text-gray-400">MÉTRICAS FOCO AL 18/08:</span>
                <!--end::Label-->
              </div>
              <!--end::Item-->
              <!--begin::Item-->
              <div class="me-9 my-1" style="display: flex;">
                <div class="bg-danger rounded-circle border border-4 border-white h-20px w-20px"></div>
                <span class="fw-bolder text-gray-400">ERROR CRÍTICO</span>
              </div>
              <!--end::Item-->
              <!--begin::Item-->
              <div class="me-9 my-1" style="display: flex;">
                <div class="bg-warning rounded-circle border border-4 border-white h-20px w-20px"></div>
                <span class="fw-bolder text-gray-400">NPS</span>
              </div>
              <!--end::Item-->
              <!--begin::Item-->
              <div class="me-9 my-1" style="display: flex;">
                <div class="bg-success rounded-circle border border-4 border-white h-20px w-20px"></div>
                <span class="fw-bolder text-gray-400">TMO</span>
              </div>
              <!--end::Item-->
            </div>
            <!--end::Info-->
          </h3>
          <!--end::Card title-->
          <!--begin::Card toolbar-->
          <div class="card-toolbar">
            <!--begin::Tabs-->
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light fw-bolder px-4 me-1 active"
                   data-kt-timeline-widget-1="tab" data-bs-toggle="tab" href="#kt_timeline_widget_1_tab_day">TU DÍA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light fw-bolder px-4 me-1"
                   data-kt-timeline-widget-1="tab" data-bs-toggle="tab" href="#kt_timeline_widget_1_tab_week">TU SEMANA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-light fw-bolder px-4 me-1"
                   data-kt-timeline-widget-1="tab" data-bs-toggle="tab" href="#kt_timeline_widget_1_tab_month">TU MES</a>
              </li>
            </ul>
            <!--end::Tabs-->
          </div>
          <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pb-0">
          <!--begin::Tab content-->
          <div class="tab-content">
            <!--begin::Tab pane-->
            <div class="tab-pane active" id="kt_timeline_widget_1_tab_day" role="tabpanel" aria-labelledby="day-tab"
                 data-kt-timeline-widget-1-blockui="true">
              <div class="table-responsive pb-10">
                <!--begin::Timeline-->
                <div id="kt_timeline_widget_1_1" class="vis-timeline-custom h-350px min-w-700px -pe-none"
                     data-kt-timeline-widget-1-image-root="./assets/media/"></div>
                <!--end::Timeline-->
              </div>
            </div>
            <!--end::Tab pane-->
            <!--begin::Tab pane-->
            <div class="tab-pane" id="kt_timeline_widget_1_tab_week" role="tabpanel" aria-labelledby="week-tab"
                 data-kt-timeline-widget-1-blockui="true">
              <div class="table-responsive pb-10">
                <!--begin::Timeline-->
                <div id="kt_timeline_widget_1_2" class="vis-timeline-custom h-350px min-w-700px -pe-none"
                     data-kt-timeline-widget-1-image-root="assets/media/"></div>
                <!--end::Timeline-->
              </div>
            </div>
            <!--end::Tab pane-->
            <!--begin::Tab pane-->
            <div class="tab-pane" id="kt_timeline_widget_1_tab_month" role="tabpanel" aria-labelledby="month-tab"
                 data-kt-timeline-widget-1-blockui="true">
              <div class="table-responsive pb-10">
                <!--begin::Timeline-->
                <div id="kt_timeline_widget_1_3" class="vis-timeline-custom h-350px min-w-700px -pe-none"
                     data-kt-timeline-widget-1-image-root="assets/media/"></div>
                <!--end::Timeline-->
              </div>
            </div>
            <!--end::Tab pane-->
          </div>
          <!--end::Tab content-->
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Timeline Widget 1-->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Chart timeline-->

  <h2>Si tenés un ratito..</h2>

  <!--begin::Ideas-->
  <div class="mt-8">
    <div class="row g-12">
      <!--begin::Content-->
      <div class="col-md-3">
        <div class="flex-lg-row-fluid me-xl-3">
          <!--begin::Post content-->
          <div class="mb-17">
            <!--begin::Wrapper-->
            <div class="mb-8">
              <!--begin::Container-->
              <div class="overlay">
                <!--begin::Image-->
                <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-350px"
                     style="background-image:url('https://img.freepik.com/foto-gratis/libreta-set-dibujo-escritorio_23-2148194669.jpg?size=626&ext=jpg')"></div>
                <!--end::Image-->
                <!--begin::Links-->
                <div class="overlay-layer card-rounded bg-dark bg-opacity-25 d-flex flex-column dd-tasks">
                  <span>ESTÁS AL 35%</span>
                  <h2>10 tareas para completar tu inducción</h2>
                  <a href="../../demo1/dist/pages/about.html" class="btn btn-primary">Ver tareas</a>
                </div>
                <!--end::Links-->
              </div>
              <!--end::Container-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Post content-->
        </div>
      </div>
      <!--end::Content-->
      <!--begin::Col-->
      <div class="col-md-3">
        <!--begin::Hot sales post-->
        <div class="card-xl-stretch me-md-6">
          <!--begin::Overlay-->
          <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/custom/planta.png">
            <!--begin::Image-->
            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                 style="background-image:url('assets/custom/planta.png')"></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="bi bi-eye-fill fs-2x text-white"></i>
            </div>
            <!--end::Action-->
          </a>
          <!--end::Overlay-->
          <!--begin::Body-->
          <div class="mt-5">
            <!--begin::Title-->
            <a href="#" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">
              5 plantas ideales para tener tu escritorio
            </a>
            <!--end::Title-->
            <!--begin::Text-->
            <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">
              HOY<br>
              Agregar una planta podría ser ese toquecito que falta ¡mirá!
            </div>
            <!--end::Text-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Hot sales post-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-md-3">
        <!--begin::Hot sales post-->
        <div class="card-xl-stretch me-md-6">
          <!--begin::Overlay-->
          <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/custom/escritorio.png">
            <!--begin::Image-->
            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                 style="background-image:url('assets/custom/escritorio.png')"></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="bi bi-eye-fill fs-2x text-white"></i>
            </div>
            <!--end::Action-->
          </a>
          <!--end::Overlay-->
          <!--begin::Body-->
          <div class="mt-5">
            <!--begin::Title-->
            <a href="#" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">
              Consejos para organizar tu espacio de trabajo
            </a>
            <!--end::Title-->
            <!--begin::Text-->
            <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">
              30 JULIO<br>
              Estar tranqui y trabajar con comodidad ¡fijate estas ideas!
            </div>
            <!--end::Text-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Hot sales post-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-md-3">
        <!--begin::Hot sales post-->
        <div class="card-xl-stretch me-md-6">
          <!--begin::Overlay-->
          <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="assets/custom/agente.png">
            <!--begin::Image-->
            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px"
                 style="background-image:url('assets/custom/agente.png')"></div>
            <!--end::Image-->
            <!--begin::Action-->
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="bi bi-eye-fill fs-2x text-white"></i>
            </div>
            <!--end::Action-->
          </a>
          <!--end::Overlay-->
          <!--begin::Body-->
          <div class="mt-5">
            <!--begin::Title-->
            <a href="#" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">
              10 Top Performers, 10 consejos
            </a>
            <!--end::Title-->
            <!--begin::Text-->
            <div class="fw-bold fs-5 text-gray-600 text-dark mt-3">
              15 JULIO<br>
              Conocé cómo lograron dominar sus métricas en este post.
            </div>
            <!--end::Text-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Hot sales post-->
      </div>
      <!--end::Col-->
    </div>
  </div>
  <!--end::Ideas-->

  <!--begin::Help-->
  <div class="d-flex flex-row mt-8">
    <div class="col-xl-6" style="padding: 0px 40px 0px 0px;">
      <img src="assets/custom/computadora.png" alt="compu" style="width: 100%">
    </div>
    <div class="col-xl-6">
      <div class="d-flex flex-column">
        <h1>te <b>ayudo</b>?</h1>
        <div class="d-flex flex-row mt-3">
          <app-card2 class="col-xl-6"
                     icon="https://iconape.com/wp-content/png_logo_vector/user-circle.png"
                     badgeColor="success"
                     statusColor="success"
                     title="SI TENÉS UNA URGENCIA"
                     description="<span class='c-green'>Usa el asistente</span> y seguí las instrucciones para conectar con tu lider o tu referente de Recursos Humanos."
                     [progress]="-1"
          ></app-card2>
          <app-card2 class="col-xl-6"
                     icon="https://icones.pro/wp-content/uploads/2021/03/icone-de-configuration-noire.png"
                     badgeColor="success"
                     statusColor="success"
                     title="PROBLEMA TÉCNICO"
                     description="<span class='c-green'>Usá el asistente</span> y elegí problemas técnicos para reportar problemas de conexión a tus plataformas u otros."
                     [progress]="-1"
          ></app-card2>
        </div>
        <div class="d-flex flex-row">
          <app-card2 class="col-xl-6"
                     icon="https://icon-library.com/images/bar-chart-icon/bar-chart-icon-1.jpg"
                     badgeColor="success"
                     statusColor="success"
                     title="DUDA CON TUS MÉTRICAS"
                     description="Las métricas toman tiempo en computar. La última actualización fue el viernes 23/07. Consultá más en <span class='c-green'>tu página de Enfoco.</span>"
                     [progress]="-1"
          ></app-card2>
          <app-card2 class="col-xl-6"
                     icon="https://uxwing.com/wp-content/themes/uxwing/download/37-communication-chat-call/chat.png"
                     badgeColor="success"
                     statusColor="success"
                     title="¿NO ESTÁS SEGURA?"
                     description="<span class='c-green'>Consultá tu hoja de ruta</span> para repasar tareas, situaciones frecuentes y otras respuestas que puedas necesitar."
                     [progress]="-1"
          ></app-card2>
        </div>
      </div>
    </div>
  </div>
  <!--end::Help-->
</div>
