:host {

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 28px;
  }

  .dd-tasks {
    opacity: 1 !important;
    color: white;
    padding: 10px;
    align-items: baseline;

    h2 {
      color: white !important;
    }

    a {
      width: 100%;
      background: black;
      border-radius: 100px;
    }

    a:hover {
      background: black;
    }
  }
}
