<div
  [ngClass]="footerContainerCssClasses"
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
  "
>
  <div class="me-9 my-1" style="display: flex;">
    <div class="bg-success rounded-circle border border-0 border-white h-15px w-15px" style="margin-right: 10px"></div>
    <span class="fw-bolder text-gray-400">Estado</span>
  </div>
  <div class="me-9 my-1" style="display: flex;">
    <div class="bg-warning rounded-circle border border-0 border-white h-15px w-15px" style="margin-right: 10px"></div>
    <span class="fw-bolder text-gray-400">Duración</span>
  </div>
  <div class="me-9 my-1" style="display: flex;">
    <div class="bg-success rounded-circle border border-0 border-white h-15px w-15px" style="margin-right: 10px"></div>
    <span class="fw-bolder text-gray-400">Tiempo de espera</span>
  </div>
  <div class="me-9 my-1" style="display: flex;">
    <div class="bg-success rounded-circle border border-0 border-white h-15px w-15px" style="margin-right: 10px"></div>
    <span class="fw-bolder text-gray-400">Tiempo de gestión</span>
  </div>
  <!-- end::Nav  -->
</div>
